{% extends 'base.html' %}

{% block title %}{{ query }}, Author at AutoInsight{% endblock title %}

{% block body %}
<div class="container">
    <h1 class="authorTitle"> {{query}} </h1>
    <hr>
    <div class="small-container">
        <div class="row">
            {% for search in data%}
            <div class="col-4">
                <a href="{% url 'detail_page' pk=search.pk %}">
                    <img src="{{ search.image.url }}">
                    <h4>{{ search.title }}</h4>
                </a>
                {% for tag in search.tags.all %}
                <p>{{ tag.name }}</p>
                {% endfor %}
                <p><a href="/searchResult?query={{search.author}}">{{search.author}}</a> {{ search.date }}</p>
            </div>
            {% endfor %}
        </div>
        {% comment %} Page Buttons {% endcomment %}
        <div class="page-btn">
            {% if data.has_previous %}
            <a href="?query={{query}}&page=1"><span><i class="fa-solid fa-angles-left"></i></span></a>
            <a href="?query={{query}}&page={{ data.previous_page_number }}"><span><i
                        class="fa-solid fa-angle-left"></i></span></a>
            {% endif %}
            {% for page in pagelist %}
            <a href="?query={{query}}&page={{page}}"><span>{{page}}</span></a>
            {% endfor %}
            {% if data.has_next %}
            <a href="?query={{query}}&page={{ data.next_page_number }}"><span><i
                        class="fa fa-angle-right"></i></span></a>
            <a href="?query={{query}}&page={{ lastpage }}"><span><i class="fa fa-angles-right"></i></span></a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock body %}