{% extends 'base.html' %}

{% block title %}Term & Conditon | AutoInsight{% endblock title %}

{% block body %}
<div class="container">
    <h1 class='authorTitle'>TERM AND CONDITIONS</h1>
    <div class="small-container">
        <div class="row">
            <div class="term-col">
                <p>Welcome to Autoinsight, an online platform. By accessing or using our website, located at [www.autoinsight.in] (the "Website"), you (the "User," "you," or "your") agree to be bound by these Terms and Conditions of Use (the "Terms") and our Privacy Policy, which is incorporated by reference into these Terms. If you do not agree to these Terms, you may not access or use the Website.
                    
                <h3>USER ELIGIBILITY: </h3><p>By using the Website, you represent and warrant that you are at least 18 years of age and have the legal capacity to enter into these Terms.</p>
                    
                <h3>LICENSE TO USE THE WEBSITE:</h3><p>We grant you a limited, non-exclusive, non-transferable, revocable license to use the Website solely for your personal, non-commercial use.</p>
                    
                <h3>USER CONDUCT:</h3><p>You agree not to use the Website in any way that violates any applicable federal, state, local, or international law or regulation. You also agree not to:</p>
                    (a) use the Website for any unlawful purpose;
                <br>(b) impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity;
                <br>(c) engage in any activity that interferes with or disrupts the Website (or the servers and networks which are connected to the Website);
                <br>(d) reproduce, duplicate, copy, sell, trade, or resell the Website for any purpose;
                <br>(e) attempt to gain unauthorized access to any portion of the Website, or any systems or networks connected to the Website;
                <br>(f) use any robot, spider, scraper, or other automated means to access the Website;
                <br>(g) use the Website to transmit any viruses, worms, defects, Trojan horses, or other items of a destructive nature;
                <br>(h) modify, adapt, translate, reverse engineer, decompile, or disassemble any portion of the Website; or
                <br>(i) remove any copyright, trademark, or other proprietary rights notice from the Website.
                <h3>USER-GENERATED CONTENT:</h3><p>You may be able to submit or upload content to the Website, including without limitation, comments, reviews, ratings, photos, and videos (collectively, "User-Generated Content"). By submitting User-Generated Content, you grant us a perpetual, irrevocable, worldwide, royalty-free, non-exclusive, sublicensable, and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform your User-Generated Content in connection with the Website and our business. You represent and warrant that you have all necessary rights to grant this license and that your User-Generated Content does not infringe or violate any third-party rights or applicable law.</p>
                <h3>INTELLECTUAL PROPERTY:</h3><p>The Website and its content, including without limitation, text, graphics, logos, trademarks, and other intellectual property, are the property of the Company or its licensors and are protected by copyright, trademark, and other intellectual property laws. You may not use any of our intellectual property without our prior written consent.</p>
                <h3>DISCLAIMER OF WARRANTIES:</h3><p>THE WEBSITE IS PROVIDED "AS IS" AND WITHOUT WARRANTY OF ANY KIND. WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.</p>
            </div>
        </div>
    </div>
</div>{% endblock body %}